* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #e5e5e5;
}

.header {
  background-color: #fff;
  display: flex;
  flex-direction: row;
}

h1 {
  color: #172b4d;
  font-size: 49px;
  line-height: 52px;
  text-align: left;
  width: 327px;
  padding-left: 24px;
  padding-top: 92px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.prg {
  padding-top: 12px;
  width: 355px;
  padding-left: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #344563;
  padding-bottom: 12px;
  margin: 12px 0;
}

.nav {
  text-align: right;
  padding-left: 225px;
  padding-top: 20px;
  width: 16px;
}

.logo {
  padding-left: 24px;
  width: 99px;
  height: 20px;
  padding-top: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #6070ff;
}

.intro {
  background-image: url(./photos/background.png);
  background-repeat: no-repeat;
  border-bottom-left-radius: 100px;
  background-color: #fff;
}

.ul-list-icons {
  display: flex;
  list-style: none;
  gap: 20px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 136px;
}

.ul-list-icons-2 {
  display: flex;
  list-style: none;
  gap: 20px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 34px;
}

.tonic-class-2 {
  width: 280px;
  height: 36px;
  padding-left: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
  margin: 12px 0;
  padding-bottom: 80px;
}

.connect {
  width: 139px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 12px;
  margin-left: 24px;
}

.connect a {
  color: #7f8cff;
}

.card-section {
  background: #e5e5e5;
  padding-top: 34px;
}

.cards-ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-left: 16px;
}

.tonic-class {
  width: 295px;
  height: 36px;
  padding-left: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
  margin: 12px 0;
}

.info {
  margin-right: 10px;
  margin-bottom: 4px;
  color: #7a869a;
  list-style: circle;
}

.canopy {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.description {
  width: 270px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  padding-left: 16px;
  padding-top: 20px;
  padding-bottom: 12px;
}

.card {
  width: 295px;
  height: 220px;
  padding-left: 16px;
  padding-top: 16px;
  padding-right: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
  border-radius: 8px;
}

.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 16px;
  padding-left: 16px;
  width: 327px;
  height: 552px;
  margin-top: 80px;
  margin-left: 25px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.card-list-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 16px;
  padding-left: 16px;
  width: 327px;
  height: 596px;
  margin-left: 25px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  flex: none;
  order: 0;
  margin-top: 88px;
  flex-grow: 0;
}

.card-list-5 {
  background-color: #fff;
  height: 1346px;
  margin-top: 114px;
  border-top-right-radius: 94px;
}

.tools {
  color: #6070ff;
  display: flex;
  gap: 8px;
  padding-bottom: 20px;
}

.tools-li {
  background-color: #ebebff;
  padding: 4px 12px;
  border-radius: 8px;
  padding-left: 16px;
}

.btn {
  color: #396df2;
  padding: 16px;
  border-radius: 10px;
  background-color: #fff;
  border: solid 1px #396df2;
  padding-left: 16px;
  width: 142px;
  font-size: 17px;
}

.btn:hover {
  color: #fff;
  background-color: #fff;
}

.btn:active {
  background: #2230D2;
  color: #fff;
}

.btn:disabled {
  color: #5E6C84;
  background: #f4f1f0;
} 


.btn-2 {
  color: #396df2;
  padding: 16px;
  border-radius: 10px;
  background-color: #fff;
  border: solid 1px #396df2;
  padding-left: 12px;
  width: 151px;
  font-size: 17px;
  margin-left: 16px;
}

.about-me {
  color: #172b4d;
  font-size: 49px;
  line-height: 52px;
  text-align: left;
  width: 327px;
  padding-left: 24px;
  padding-top: 92px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  display: flex;
}

.lang {
  display: flex;
  color: #000;
  height: 24px;
  font-weight: 500;
  line-height: 24px;
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
}

.lang-1 {
  display: inline-flex;
  gap: 120px;
  padding-top: 60px;
  padding-left: 36px;
  padding-bottom: 36px;
}

.lang-3 {
  display: inline-flex;
  gap: 182px;
  padding-top: 41px;
  padding-left: 36px;
  padding-bottom: 36px;
}

.tech {
  height: 67px;
  display: inline-flex;
  background-color: #f7f7f9;
  width: 303px;
  margin-left: 36px;
  border-radius: 10px;
  margin-bottom: 16px;
}

.tech-lang {
  display: flex;
  color: #253858;
  height: 24px;
  padding: 24px;
  font-family: 'poppins', sans-serif;
  font-size: 15px;
}

.tech-lang-2 {
  padding-left: 12px;
  border: 1px solid #fff;
  height: 48px;
  padding-top: 12px;
}

.hr {
  background-color: #dfe1e6;
  height: 1px;
  width: 327px;
  margin-left: 22px;
  border-radius: 0;
  margin-right: 0;
  text-align: center;
}

.form-section {
  background-image: url(./photos/contact-form.png);
  background-color: #6070ff;
  background-repeat: no-repeat;
  background-position: 145px 33px;
  height: 789px;
  border-top-left-radius: 94px;
  background-size: 229px;
  margin-top: -87px;
}

.contact-me {
  height: 56px;
  padding-top: 125px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  width: 332px;
  font-size: 43px;
  line-height: 52px;
  display: flex;
  padding-left: 70px;
  color: #fff;
}

.form-prg {
  padding-top: 72px;
  width: 342px;
  padding-left: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 21px;
  padding-right: 4px;
  line-height: 28px;
  color: #ebebff;
  text-align: center;
  padding-bottom: 37px;
}

input {
  display: flex;
  color: #172b4d;
}

input#name {
  width: 327px;
  border-radius: 7px;
  padding-left: 12px;
  height: 49px;
  margin-bottom: 12px;
  margin-left: 24px;
  color: #172b4d;
}

input#email {
  margin-left: 24px;
  border-radius: 7px;
  padding-left: 12px;
  width: 327px;
  height: 49px;
  color: #172b4d;
  margin-bottom: 12px;
  background-color: #fff;
}

input#placeholder {
  color: #172b4d;
}

textarea.msg {
  color: #172b4d;
  width: 327px;
  margin-left: 24px;
  border-radius: 7px;
  padding: 12px;
  height: 170px;
}

.about-btn {
  margin: 24px;
  color: #396df2;
  padding: 16px;
  border-radius: 10px;
  background-color: #fff;
  border: solid 1px #396df2;
  padding-left: 16px;
  width: 142px;
  font-size: 17px;
}

.hr-4 {
  margin-left: 98px;
  width: 137px;
  height: 5px;
  border-radius: 10px;
  background-color: #0d151e;
}


/* .intro-b  {
  display: none;
} */

.nav-list {
  display: none;
}


@media screen and (min-width: 992px) {
.nav {
  display: none;
}

.main-section {
  width: 1440px;

}


.logo {
  padding-left: 155px;
  width: 228px;
  height: 20px;
  padding-top: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #6070ff;
  
}

  .nav-list {
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    display: inline-flex;
    gap: 10px;
    padding-top: 20px;
    color: #344563;
    height: 20px;
    list-style: none;
    padding-left: 657px;

  }

.intro-b {
  background-image: url("./photos/Header-bg@2x.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 916px;
  margin-left: 0px;
  background-position: 0px 0px;
  background-color: #FFFFFF;
}

h1 {
  color: #172b4d;
  font-size: 49px;
  line-height: 52px;
  text-align: left;
  width: 915px;
  padding-right: 260px;
  padding-left: 260px;
  padding-top: 228px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.prg {
  position: static;
  width: 1077px;
  height: 98px;
  margin-left: 0px;
  padding-left: 260px;
  padding-top: 6px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #344563;

}

.connect {
  width: 424px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding-left: 277px;
  line-height: 24px;
  padding-bottom: 12px;
  margin-left: 24px;

}

.ul-list-icons {
  display: flex;
  list-style: none;
  gap: 20px;
  padding-left: 299px;
  padding-top: 12px;
  padding-bottom: 136px;
}

}
